<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="externalResourceProvider" name="External Resource Provider" schema="schema/externalResourceProvider.exsd"/>
	<extension
         id="MayloonPackageBuilder"
         name="Mayloon Package Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.intel.ide.eclipse.mpt.builder.MayloonPackageBuilder">
         </run>
      </builder>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.intel.ide.eclipse.mpt.convertcontribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.intel.ide.eclipse.mpt.popup.actions.MayloonConvertAction"
               enablesFor="+"
               id="com.intel.ide.eclipse.mpt.mayloonconvertaction"
               label="%convert_to_mayloon_menu_name"
               menubarPath="additions"
               tooltip="convert an Anroid project to a Mayloon project">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </objectState>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="com.intel.ide.eclipse.mpt.MayloonNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%mayloon_preference_category_name"
            class="com.intel.ide.eclipse.mpt.preferences.MayloonSDKPreferencePage"
            id="com.intel.ide.eclipse.mpt.preferences.MayloonSDKPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.intel.ide.eclipse.mpt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.intel.ide.eclipse.mpt.properties.MayloonPropertyPage"
            id="com.intel.ide.eclipse.mpt.properties.propertypage"
            name="Mayloon Property Page"
            nameFilter="*.*"
            objectClass="org.eclipse.jdt.debug.core.IJavaObject">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mayloon Category"
            id="com.intel.ide.eclipse.mpt">
      </category>
      <view
            name="Mayloon View"
            icon="icons/sample.gif"
            category="com.intel.ide.eclipse.mpt"
            class="com.intel.ide.eclipse.mpt.views.MayloonView"
            id="com.intel.ide.eclipse.mpt.views.MayloonView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.intel.ide.eclipse.mpt.views.MayloonView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
         <classpathContainerInitializer
              class="com.intel.ide.eclipse.mpt.project.MayloonClasspathContainerInitializer"
              id="com.intel.ide.eclipse.mpt.MAYLOON_FRAMEWORK">
         </classpathContainerInitializer>
         <classpathContainerInitializer
               class="com.intel.ide.eclipse.mpt.project.MayloonJREClasspathContainerInitializer"
               id="com.intel.ide.eclipse.mpt.MAYLOON_JRE">
         </classpathContainerInitializer>
   </extension>
   <extension
         id="MayloonNature"
         name="Mayloon Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.intel.ide.eclipse.mpt.nature.MayloonNature">
         </run>
      </runtime>
      <builder
            id="com.intel.ide.eclipse.mpt.MayloonPackageBuilder">
      </builder>
      <builder
            id="com.intel.ide.eclipse.mpt.MayloonPropertiesBuilder">
      </builder>
      <builder
            id="net.sf.j2s.core.java2scriptbuilder">
      </builder>
   </extension>
   <extension
         id="MayloonPropertiesBuilder"
         name="Mayloon Properties Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.intel.ide.eclipse.mpt.builder.MayloonPropertiesBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.intel.ide.eclipse.mpt.sdkProblem"
         name="%mayloon_sdk_problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.intel.ide.eclipse.mpt.buildProblem"
         name="Build Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.intel.ide.eclipse.mpt.launching.MayloonApplicationLaunchShortcut"
            helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
            icon="icons/sample.gif"
            id="com.intel.ide.eclipse.debug.ui.localMayloonApplicationShortcut"
            label="%run_mayloon_application"
            modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                <or>
               	  <test property="org.eclipse.jdt.launching.hasMain"/>
               	  <and>
               	  	 <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
               	  	 <test property="org.eclipse.jdt.launching.hasProjectNature" args="com.intel.ide.eclipse.mpt.MayloonNature"/>
               	  	 <or>
               	     	<test property="org.eclipse.jdt.launching.isContainer"/>
               	     	<test property="org.eclipse.jdt.launching.isPackageFragment"/>
               	     	<test property="org.eclipse.jdt.launching.isPackageFragmentRoot"/>
               	     </or>
               	  </and>
               	</or>
               </iterate>
               </with>
           </enablement>
  		 </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <perspective
               id="org.eclipse.pde.PDEPerspective">
         </perspective>
         <perspective id="org.eclipse.ui.resourcePerspective"/>
      </shortcut>
  </extension> 
  
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.intel.ide.eclipse.mpt.launching.MayloonLaunchingTabGroup"
            id="com.intel.ide.eclipse.launching.launchConfigurationTabGroup.MayloonApplication"
            type="com.intel.ide.eclipse.launching.MayloonApplication">
      </launchConfigurationTabGroup>
  </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.intel.ide.eclipse.mpt.launching.MayloonLaunchConfigurationDelegate"
            id="com.intel.ide.eclipse.launching.MayloonApplication"
            modes="run, debug"
            name="%run_mayloon_application">
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.intel.ide.eclipse.launching.MayloonApplication"
            icon="icons/sample.gif"
            id="com.intel.ide.eclipse.launching.launchConfigurationTypeImage.MayloonApplication"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.intel.ide.eclipse.mpt.editContribution"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="com.intel.ide.eclipse.mpt.popup.actions.EditJSAction"
               enablesFor="1"
               id="com.intel.ide.eclipse.mpt.action.editjs4object"
               label="%mayloon_edit_js"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.intel.ide.eclipse.mpt.editViewContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               class="com.intel.ide.eclipse.mpt.popup.actions.OpenJSEditorViewAction"
               id="com.intel.ide.eclipse.mpt.action.editjs4view"
               label="%mayloon_edit_js"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.intel.ide.eclipse.mpt.editViewContribution"
            targetID="#TextEditorContext">
         <action
               class="com.intel.ide.eclipse.mpt.popup.actions.OpenJavaEditorViewAction"
               id="com.intel.ide.eclipse.mpt.action.editjava4view"
               label="%mayloon_edit_java"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.intel.ide.eclipse.mpt.wizards.category"
            name="Mayloon">
      </category>
      <wizard
            category="com.intel.ide.eclipse.mpt.wizards.category"
            class="com.intel.ide.eclipse.mpt.wizards.export.ExportWizard"
            icon="icons/sample.gif"
            id="com.intel.ide.eclipse.mpt.wizards.exportMayloonApp"
            name="Export Mayloon Application">
      </wizard>
   </extension>
   

</plugin>
