<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
		point="org.eclipse.jdt.core.compilationParticipant">
		<compilationParticipant
			class="com.intel.eclipse.mayloon.internal.MptCompilationParticipant"
			createsProblems="true"
			id="com.intel.eclipse.mayloon.internal.compilationParticipant"
			modifiesEnvironment="false">
		</compilationParticipant>
	</extension>

</plugin>