<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
   		 id="net.sf.j2s.innerjsresources4mpt"
         name="Inner JS Resources MPT"
         point="com.intel.ide.eclipse.mpt.externalResourceProvider">
      <externalResourceProvider
            class="net.sf.j2s.lib.providers.JavaRuntimeJSProvider4MPT"
            id="net.sf.j2s.lib.providers.javaRuntimeJS4MPT">
      </externalResourceProvider>
   </extension>

</plugin>
